/.gradle/
/.idea/
/local.properties
/app/build/
/bymvvm/build/
/bottom-navigation-bar/build/
/shareLibrary/build/
/updataApk/build/
/gsyVideoPlayer/build/
/gsyVideoPlayer-java/build/
/gsyVideoPlayer-armv5/build/
/gsyVideoPlayer-armv7a/build/
/gsyVideoPlayer-armv64/build/
/gsyVideoPlayer-x86/build/
/gsyVideoPlayer-x86_64/build/
/gsyVideoPlayer-ex_so/build/
/gsyVideoPlayer-exo_player2/build/
/gsyVideoPlayer-base/build/
/videocache/build/